@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* кастомные стили */
@layer components {
  .based-container {
    @apply flex items-center justify-center;
  }
  .gradient-h1 {
    background: linear-gradient(
      270deg,
      rgb(56, 59, 129),
      rgba(82, 86, 185, 0.94)
    );
    background-clip: text; /*фон накладывается на цвет*/
    color: transparent; /*прозрачный цвет текста (чтоб фон наложился)*/
  }

  .icon-hover {
    @apply hover:bg-[#ABAEEE] hover:bg-opacity-25 rounded-2xl p-[3px] transition-colors duration-300;
  }

  .action-buttons {
    @apply px-[15px] py-[10px] rounded-full shadow h-full  gap-[10px] cursor-pointer hover:shadow-gray-400 hover:shadow-sm flex items-center;
  }
}

/* базовые стили  */
@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

/* утилиты */
@layer utilities {
  .scrollbar-no::-webkit-scrollbar {
    display: none;
  }
}
